/*COLORS*/
/*amber: color: #FFC107;
pink: color: #E91E63;
grey: color: #EFEFEF;*/


/*new dark-grey color: #3B3D40; */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: url("https://www.zeutschel.de/zeutschel/export/sites/zeutschel/media/maps/world-map.png") repeat-y;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 185px, 200px;
  background-size: cover;
  width:100%;
  height: 100%;
  background-color: #EFEFEF;
  color: #757575;
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: backgroundScroll 450s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -900px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -9200px 0;}
}



main {
  overflow:auto;
  padding-bottom: 100px;
  height: auto;
  min-height: calc(100% - 69px);
  /*padding:0 5%*/
}

footer {
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
  z-index:999;
}

.search-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-field {
}

.mdl-textfield__input {
  /*font-size: 16px;*/
  /*margin-top: -10px*/
}

.mdl-textfield__label:after {
  background-color: #fff;
}

.mdl-layout__header-row {
  background-color: #E91E63;
  /*background: black url(/images/rangitoto-3072x200.jpg) center no-repeat;*/
  color: #fff;
}

.search-icon {
  position: absolute;
  left: -32px;
  top: 17px;
}

.search-icon i{
  font-size: 30px;
}

.logo {
  position: absolute;
  top: -8px;
  left: -37px;
}

.logo-icon {
  font-size: 35px !important;
}

.main-link {
  color: #757575;
  text-decoration: none;
}

.main-link:hover {
  color:rgb(255,64,129);
  text-decoration: underline;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.logo-link:hover {
  color: rgba(117, 117, 117, 0.5);
}

.mdl-list {
  width: 225px;
}


.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  color: #757575;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  cursor:pointer;
  color: black;
  text-align: center
}

.card-title:hover {
  color: #E91E63;
}

.card {
  padding: 20px 20px 0px 20px;
  height: 320px;
}

.mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-left: -20px;
    width: calc(100% + 40px);
}

.card-title {
  height:60px;
  overflow: hidden;
}

.card-text {
  height: 163px;
  overflow: hidden;
  margin-top: 7px;
  cursor:pointer;

}

.card-editor {
  font-weight: bold;
  font-style: italic;
  /*color: #E91E63;*/
  text-align: center;
}

.left-margin-fix {
  margin-left: 20px;
}

.article-dialog {
  width: 80%;
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
  overflow-y: scroll;
}

.article-main-text {
  text-align: justify;
  text-indent: 15px;
  line-height: 2.3em;
}

.article-paragraph {

  line-height: 2.3em;
  font-size: 16px;
    letter-spacing: 0;
    margin: 0 0 -5px;
}

.url-link-btn {
  float:right;
  display:inline-block;
  width: 65px;
}
.url-link-btn a {
 /* min-width: 0px;
  padding-left: 15px;
  padding-right: 15px;*/
}

.dialog-title {
  text-align: center;
}

.spinner {
  text-indent: 0;
  position: absolute;
  left: 50%;
  top: 50%;
}

.error-message {
  text-align:center;
/*  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);*/
}

.error-message .error-link {
  color: #fff ;
}

i.error-icon {
  font-size: 50px;
}

.error-icon-wrapper {
  display: inline;
/*  position: absolute;
  position: absolute;
  top: -8px;
  left: -45px;*/
}

.error-btn {
  margin-top: 10px;
}

.close-btn {
      position: fixed;
      display: block;
      right: 180px;
      bottom: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
}

.topics-heading {
  font-size: 22px;
  /*text-decoration: underline;*/
  font-weight: bold;
  margin-left: 20px;

  /*text-align: ;: center;*/
}

.fixed-sidebar {
  position: fixed;
  top: 120px;
  left: 0px;
}


.my-sidebar {
  border-right: 1px solid lightgrey;
  width: 170px;
  margin-top:-6px;
  background-color: rgba(200,200,200,.9);
}

.top-header {
  text-align: center;
}

.main-block {
  margin-right: 30px;
  margin-left: 30px;
}

.g-map {
  margin-left: auto;
  margin-right: auto;
  /*width: auto;*/
  height: 125px;
}

/*when screen is a certain size, hide sidebar and shift bg picture*/
@media (max-width: 480px) {
  .card {
    width: 300px;
  }
}
@media (max-width: 1020px) {
  body {
    background-position: 0px;
    background-size: cover;
  }

  .my-sidebar {
  display: none;
  }
}

